{% set page_title = "404" %} 
{% extends "layout.njk" %}
{% block pagetitle %}<title>{{ config.title }}</title>{% endblock %}
{% block css%}
<style>
.center-image{
  margin:0 auto;
  display:flex;
}
</style>
{% endblock%}
{% block layout %}
  {%- from "macros/center-box.njk" import centerBox -%}
  {{centerBox(
    pages.notfound.title,
    pages.notfound.description,
    pages.notfound.content )}}
{% endblock %}