{% set page_title = "about" %} 
{% extends "layout.njk" %}
{% block pagetitle %}<title>{{ config.title }}</title>{% endblock %}
{% block layout %}
  {%- from "macros/center-box.njk" import centerBox -%}
  {{centerBox(
    pages.about.title,
    pages.about.description,
    pages.about.content )}}
{% endblock %}