{% set page_title = "home" %} 
{% extends "layout.njk" %}
{% block pagetitle %}<title>{{ config.title }}</title>{% endblock %}
{% block layout %}
  {%- from "macros/center-box.njk" import centerBox -%}
  {{centerBox(
    pages.home.title,
    pages.home.description,
    pages.home.content )}}
{% endblock %}