{% set page_title = "typography" %} 
{% extends "layout.njk" %} 
{% block pagetitle %}<title>{{ config.title }}</title>{% endblock %} 
{% block layout %}

{%- from "macros/kitchen-sink.njk" import headings,paragrahps,unorderedList,orderedList,blockquote,preCode,details,figure,definitionList,table -%}

<div class="boxes">
  <div class="box-2">
    {{ headings() }}
    {{ paragrahps() }}
    {{ unorderedList() }}
    {{ orderedList() }}
    {{ blockquote() }}
    {{ table() }}
  </div>
  <div class="box-2">
    {{ preCode() }}
    {{ details() }}
    {{ figure() }}
    {{ definitionList() }}
  </div>
</div>

{% endblock %}

