{% macro headings() %}
    <h1>Heading One</h1>
    <h2>Heading Two</h2>
    <h3>Heading Three</h3>
    <h4>Heading Four</h4>
    <h5>Heading Five</h5>
    <h6>Heading Six</h6>
{% endmacro %}

{% macro paragrahps() %}
    <p>
      Lorem ipsum bibendum facilisis venenatis aliquam euismod, urna vulputate
      venenatis iaculis massa velit sociosqu, lectus posuere nostra vivamus
      donec. justo praesent pharetra donec nunc convallis fringilla, tristique
      hac cursus nec.
    </p>
    <p>
      Etiam fringilla massa molestie aliquam maecenas adipiscing cras justo
      massa aliquam, ornare augue purus mi torquent quisque habitasse id.
    </p>
{% endmacro %}

{% macro unorderedList() %}
  <ul>
    <li>Unordered list item one</li>
    <li>Unordered list item two</li>
    <li>Unordered list item three</li>
    <li>Unordered list item four</li>
  </ul>
{% endmacro %}


{% macro orderedList() %}
  <ol>
    <li>Ordered list item one</li>
    <li>Ordered list item two</li>
    <li>Ordered list item three</li>
    <li>Ordered list item four</li>
  </ol>
{% endmacro %}


{% macro blockquote() %}
  <blockquote>
    <p>
      I’m the one that has to die when it’s time for me to die, so let me live
      my life, the way I want to.<br />
      <cite>JIMI HENDRIX<br /> </cite>
    </p>
  </blockquote>
{% endmacro %}


{% macro preCode() %}
  <pre><code>body {
    margin: 0;
    color: #58585b;
    background: #fafafa;
    line-height: 1.5;
  }</code></pre>
{% endmacro %}

{% macro details() %}
  <details>
    <summary>Hidden text</summary>
    <div><p>Lorem ipsum bibendum facilisis venenatis aliquam euismod, urna vulputate
    venenatis iaculis massa velit sociosqu, lectus posuere nostra vivamus
    donec. justo praesent pharetra donec nunc convallis fringilla, tristique
    hac cursus nec.</p></div>
  </details> 
{% endmacro %}

{% macro figure(src='https://source.unsplash.com/random',alt='Random image',name='Unsplash') %}
  <figure>
    <img class="zoom" src="{{src}}" alt="{{alt}}"/>
    <figcaption>{{name}}</figcaption>
  </figure>
{% endmacro %}

{% macro definitionList() %}
  <dl>
    <dt>First Term</dt>
    <dd>This is the definition of the first term.</dd>
    <dt>Second Term</dt>
    <dd>This is one definition of the second term.</dd>
    <dd>This is another definition of the second term.</dd>
  </dl>
{% endmacro %}

{% macro table() %}
    <table>
      <thead>
        <tr>
          <th>NAME</th>
          <th>CONTINENT</th>
          <th>HEIGHT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mount Everest</td>
          <td>Asia</td>
          <td>8 848</td>
        </tr>
        <tr>
          <td>Aconcagua</td>
          <td>South America</td>
          <td>6 961</td>
        </tr>
        <tr>
          <td>Mount McKinley</td>
          <td>North America</td>
          <td>6 194</td>
        </tr>
        <tr>
          <td>Kilimanjaro</td>
          <td>Africa</td>
          <td>5 895</td>
        </tr>
        <tr>
          <td>Mount Elbrus</td>
          <td>Europe</td>
          <td>5 642</td>
        </tr>
        <tr>
          <td>Mount Vinson</td>
          <td>Antarctica</td>
          <td>4 892</td>
        </tr>
        <tr>
          <td>Puncak Jaya</td>
          <td>Australia</td>
          <td>4 884</td>
        </tr>
      </tbody>
    </table>
{% endmacro %}