details {
  margin: 1rem 0;
  border: 1px solid var(--dark);
  box-shadow: var(--shadow);
  width: calc(100% - 6px);
  &:hover,
  &:focus {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewport="0 0 48 48" style="fill:black;font-size:24px"><text y="50%">👆</text></svg>') 16 0, auto;
  }
  summary {
    padding: 0.5rem 0.8rem;
    background: var(--light);
    color: var(--dark);
  }
  &[open] {
    summary {
      background: var(--dark);
      color: var(--light);
      border-bottom: 1px solid var(--dark);
    }
  }
  > div {
    padding: 0 0.5rem;
  }
}
