/* figures */
img,
svg {
  max-width: 100%;
  vertical-align: text-top;
}
p > img:not(:only-child) {
  float: right;
  margin: 0 0 0.5em 0.5em;
}
figure {
  margin: 0.5rem auto;
}
figure > img {
  display: inline-block;
  width: auto;
}
figure > img:only-of-type,
figure > svg:only-of-type {
  max-width: 100%;
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}
figcaption,
caption {
  color: var(--dark);
  width: 100%;
}
figcaption > *:first-child,
caption > *:first-child {
  display: inline-block;
  margin: 0;
}
figure > *:not(:last-child) {
  margin-bottom: 0.4rem;
}
