#app,
.header {
  overflow: hidden;
  position: relative;
}
#app {
  background-color: var(--light);
  margin: 2rem;
  height: calc(100% - 4rem);
  width: calc(100% - 4rem);
  z-index: 2;
  opacity: 1;
  animation: oninit 500ms ease-in;
  @keyframes oninit {
    from {
      opacity: 0;
    }
  }
  @media (max-width: 60em) {
    margin: 0;
    height: 100%;
    width: 100%;
  }
}

/** - Theme Header
----------------------- */
.header {
  min-height: 3em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 2em 1em;
  z-index: 5;
  .logo {
    float: left;
    font-size: 1.3em;
    font-weight: 700;
    color: var(--txt);
  }
  .navigation {
    float: right;
    a {
      cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewport="0 0 48 48" style="fill:black;font-size:24px"><text y="50%">👆</text></svg>')
          16 0,
        auto;
      text-decoration: none;
      margin-left: 1em;
      color: var(--dark);
      border-bottom: 1px solid var(--light);
      transition: all 0.5s ease;
      &.active,
      &:hover {
        color: var(--dark);
        opacity: 0.8;
        border-bottom: 1px solid var(--dark);
        transition: all 0.5s ease;
      }
    }
  }
  @media (max-width: 60em) {
    margin-left: 0;
    margin-right: 0;
    &.active {
      overflow: auto !important;
      min-height: 100vh;
      .navigation {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        float: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--dark);
        z-index: 999999;
        text-align: center;
        overflow: auto;
        opacity: 1;
        visibility: visible;
        animation: menu 500ms ease-out 1;
        clip-path: circle(100% at 50% 50%);
        transition: opacity 0.5s ease;
        a {
          display: block;
          width: 100%;
          margin: 1em auto;
          font-size: 2em;
          text-align: center;
          color: var(--light);
          border-bottom: 1px solid var(--dark);
          .active,
          &:focus {
            color: var(--light);
          }
          &:nth-child(2) {
            margin-top: 3em;
          }
        }
      }
      a {
        &.btn-menu {
          margin: 0;
          width: 2em;
          top: 1em;
          right: 1em;
          span {
            transform: translateY(14px) rotate(45deg);
            transition: all 0.5s ease;
            width: 75%;
            background: var(--light);
          }
          span + span {
            transform: translateY(1px) rotate(-45deg);
            transition: all 0.5s ease;
            width: 75%;
          }
        }
      }
    }
    .navigation {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease;
      a {
        display: none;
      }
    }
    .btn-menu {
      cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewport="0 0 48 48" style="fill:black;font-size:24px"><text y="50%">👆</text></svg>')
          16 0,
        auto;
      width: 2em;
      height: 1em;
      position: absolute;
      top: 1em;
      right: 1em;
      font-size: 2em;
      margin: 0;
      display: block;
      span {
        position: absolute;
        top: 0;
        right: 0;
        width: 75%;
        height: 0.05em;
        margin: 0;
        background: var(--dark);
        transition: all 0.5s ease;
        &:first-child {
          width: 50%;
        }
        &:nth-child(2) {
          top: 0.5em;
        }
      }
    }
    @keyframes menu {
      from {
        clip-path: circle(0 at 50% 50%);
      }
    }
  }
}

/** - Theme Content
----------------------- */
.content {
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
  z-index: 4;
  position: relative;
  height: calc(100% - 86px);
  overflow: auto;
  @media (max-width: 768px) {
    margin-left: 0;
    margin-right: 0;
    padding: 1rem 0.5rem;
    width: 100%;
  }
}
